/* styles.css*/
/*default styling*/
html,
body {
    height: 100%;
}

img{
    max-width: 100%;
}
/* cover */
.wrapper {
    height: 100%;
}
#nav-main{
    background-color: white;
}
#cover {
    background: #222 url('../images/background.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 1.4rem;
    background-attachment: fixed;
}
#cover-caption {
    width: 100%;
}
.cover-form {
    background: rgba(0,0,0,0.6);
    padding: 0.875rem 1.875rem 0.875rem 0.9375rem;
    margin: 1.25rem 0 0.9375rem;
}

/*top margin*/
.top-margin{
    margin-top: 5rem;
}

.section-content {
    padding: 5rem 0;
}
/*signin/up*/
.sign-cover {
    background: #222 url('../images/background.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    padding: 1.4rem;
    background-attachment: fixed;
}
#inputfield {
    background-color:transparent;
}

.sign-form {
    background: rgba(0,0,0,0.6);
    padding: 0.875rem 1.875rem 0.875rem 0.9375rem;
    margin: 1.25rem 0 0.9375rem;
    bottom: 30px;
}

/*foooter*/
#footer-main {
    background: #222;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0;
    margin-bottom: 0;
}
